# Summary: Hydra configuration file for hyperparameter optimization
#
# Author: Bernardo Ferreira (bernardo_ferreira@brown.edu)
# =============================================================================
# Set default parameters:

# Material model parameters (Von Mises)
E: 118640
v: 0.334
s0: 823.14484
a: 522.23411
b: 0.375146

# =============================================================================

# Set default parameters groups (subconfig files)
# 1. The _self_ works was follows: (i) if set as the first default parameter,
#    all the parameters in sweeper are set and then overriden by any default
#    parameters; (ii) if set as the last default parameter, the default
#    parameters are set and then overriden by any parameters in sweeper.
#
defaults:

  # CHOOSE ONE SWEEPER (COMMENT OUT WITH #):
  # 1. Hydra BasicSweeper (default)
  #- override hydra/sweeper: basic
  # 2. Nevergrad
  #- override hydra/sweeper: nevergrad
  # 3. Optuna (update sampler according with sweeper._target)
  #    (mapping: grid -> GridSampler,
  #              random -> RandomSampler,
  #              tpe -> TPESampler)
  - override hydra/sweeper: optuna
  - override hydra/sweeper/sampler: tpe
  # ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  # Disable Hydra logging
  - override hydra/hydra_logging: none
  - override hydra/job_logging: none
  - _self_

# =============================================================================

hydra:

  # Hydra job
  job:
    # Job basename
    name: optimize_von_mises_parameters
    # Change working directory to last output directory
    chdir: false

  # Hydra single-run mode
  run:
    # Output directory (grouped by date)
    dir: /home/username/Documents/brown/projects/colaboration_antonios/dtp_validation/3_dtp1_j2_rowan_data/2_DTP1U_V2_data/loss_dirichlet_sets/4_hyperparameter_optimization/${hydra.job.name}${now:%Y-%m-%d}/${now:%H-%M-%S}
  
  # Hydra multi-run sweep (multi-run mode, -m flag)
  sweep:
    # Directory specifications:
    # 1. Formatting: ${now:%Y-%m-%d}, ${now:%H-%M-%S},
    #                ${hydra.job.name}, ${hydra.job.num}
    # Output directory common to all jobs in the multi-run sweep
    dir: /home/username/Documents/brown/projects/colaboration_antonios/dtp_validation/3_dtp1_j2_rowan_data/2_DTP1U_V2_data/loss_dirichlet_sets/4_hyperparameter_optimization/${hydra.job.name}/${now:%Y-%m-%d}/${now:%H-%M-%S}
    # Pattern of job-specific output subdirectory
    subdir: ${hydra.job.num}
  
  # Sweeper settings
  # SET CHOSEN SWEEPER SETTINGS (BLOCK COMMENT OUT WITH CTRL+/ ON VSCODE)
  # ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  # 1. Hydra BasicSweeper (default)
  # sweeper:
  #   # BasicSweeper settings
  #   # ...

  #   # BasicSweeper search space parameterization
  #   params:
  #     ...   
  # ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  # 2. Hydra Nevergrad Sweeper plugin
  # sweeper:
  #   # Nevegrad optimizer settings
  #   optim:
  #     # Nevergrad optimizer
  #     optimizer: NGOpt
  #     # Maximum number of function evaluations to perform
  #     budget: 10
  #     # Number of parallel workers for performing function evaluations
  #     num_workers: 1

  #   # Nevergrad search space parameterization
  #   # 1. init: initial value (optional)
  #   # 2. lower: lower bound (optional)
  #   # 3. upper: upper bound (optional)
  #   # 4. step: step size (additive/multiplicative if linear/log) (optional)
  #   # 5. log: set true if log distributed value, set false otherwise
  #   # 6. integer: set true for integer
  #   parametrization:
  #     # Batch size
  #     batch_size:
  #       integer: true
  #       init: 1
  #       lower: 1
  #       upper: 10
  #     # Learning-rate
  #     lr:
  #       init: 0.2
  #       step: 0.1
  #       lower: 0.0
  #       upper: 1.0
  #       #log: false
  #     # Learning-rate scheduler
  #     lr_scheduler_type: 
  #       - 'steplr'
  #       - 'explr'
  # ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  # 3. Hydra Optuna Sweeper plugin
  sweeper:
    # Optuna sweeper settings
    _target_: hydra_plugins.hydra_optuna_sweeper.optuna_sweeper.OptunaSweeper
    # Store Optuna dashboard file
    #(python package sqlalchemy==1.4.44, delete old optuna_dashboard.db!)
    storage: 'sqlite:////home/username/Documents/optuna_dashboard.db'

    # Maximum number of function evaluations to perform
    n_trials: 200
    # Number of parallel workers for performing function evaluations
    n_jobs: 1
    # Optuna optimizer settings:
    sampler:
      # Optuna optimizer
      _target_: optuna.samplers.TPESampler
      # Optuna optimizer class parameters
      # ...

    # Optuna search space parameterization
    params:

      # Material model parameters (Von Mises):
      E: interval(80e3, 140e3)
      v: interval(0.2, 0.4)
      s0: interval(500, 2000)
      a: interval(500, 2000)
      b: interval(0.15, 1.0)